
/* Light Mode Styles */
:root {
    --background-color: #fff;
    --text-color: #333;
}

header{
    text-align: center;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    overflow: hidden;
}

#loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}


/* Dark Mode Styles */
body.dark-mode {
    --background-color: #333;
    --text-color: #fff;
}



/* Styles for the switch container */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Styles for the switch slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

/* Styles for the switch input */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* Styles for the checked (on) state of the switch */
input:checked + .slider {
    background-color: #FF8200;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

